:root {
    // accent
    --Primary-100: #bea6ff;
    --Primary-300: #a280ff;
    --Primary-500: #8c61ff;
    --Primary-700: #704ecc;
    --Primary-900: #382766;
  
    // info
    --Info-100: #73a5ff;
    --Info-300: #4c8dff;
    --Info-500: #397df6;
    --Info-700: #2f68cc;
    --Info-900: #234e99;
  
    // light
    --Light-100: #fff;
    --Light-300: #f9f7ff;
    --Light-500: #f4f2fa;
    --Light-700: #dcdae0;
    --Light-900: #c3c1c7;
  
    // dark
    --Dark-100: #808080;
    --Dark-300: #4c4c4c;
    --Dark-500: #333;
    --Dark-700: #171717;
    --Dark-900: #000;
  }