@mixin typography($fontSize, $lineHeight, $fontWeight, $textColor) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
  margin: 0;
  text-align: center;
}
.h1 {
  @include typography(
    var(--font-size-xxl),
    var(--line-height-l),
    var(--font-weight-bold),
    var(--Light-100)
  );
}
.h2 {
  @include typography(
    var(--font-size-xl),
    var(--line-height-l),
    var(--font-weight-bold),
    var(--Light-100)
  );
}


.body {
  @include typography(
    var(--font-size-s),
    var(--line-height-m),
    var(--font-weight-regular),
    var(--Light-100)
  );
}
.subtitle {
  @include typography(
    var(--font-size-s),
    var(--line-height-m),
    var(--font-weight-bold),
    var(--Light-100)
  );
}
